<a href="https://colab.research.google.com/github/Archarlie2000/CS450-Team/blob/main/Module_3_WorkBenck.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Review

In [61]:
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import interactive
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import interactive

#Load main dataset
housing = pd.read_csv('https://raw.githubusercontent.com/byui-cse/cse450-course/master/data/housing.csv')
#Drop unneeded attributes
df = housing.drop(["id", "long", "lat"], axis=1)

In [66]:
#Load medina income
df2 = pd.read_csv("https://raw.githubusercontent.com/Archarlie2000/CS450-Team/main/income.csv", error_bad_lines=False)


#Treating data
df['date'] = df['date'].str[:7]
df2['NAME'] = df2['NAME'].str[5:]
df2['NAME'] = df2['NAME'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
df2.rename(columns = {'NAME':'zipcode'}, inplace = True)
df2.rename(columns = {'S1901_C01_012E':'median_income'}, inplace = True)

#Merge data base
df3 = pd.merge(df, df2, on = "zipcode", how = "left")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [67]:
df3.head(200)

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,sqft_living15,sqft_lot15,price,median_income
0,2014110,4,3.25,3760,4675,2.0,0,0,3,8,2740,1020,2007,0,98038,3280,4033,429900.0,114804
1,2015011,3,1.75,1460,7800,1.0,0,0,2,7,1040,420,1979,0,98023,1310,7865,233000.0,82566
2,2014101,4,1.00,1340,5800,1.5,0,2,3,7,1340,0,1914,0,98116,1900,5800,455000.0,121967
3,2014120,3,1.75,1440,8050,1.0,0,0,3,8,1440,0,1985,0,98023,1790,7488,258950.0,82566
4,2014081,2,1.50,1780,4750,1.0,0,0,4,7,1080,700,1947,0,98117,1690,5962,555000.0,131508
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,2014071,4,1.75,2220,15600,1.0,0,0,5,7,1140,1080,1963,0,98056,1670,4800,374000.0,95074
196,2015021,6,2.75,2040,8560,1.0,0,2,4,7,1100,940,1961,0,98008,2230,8560,610000.0,131952
197,2014080,3,2.50,2660,10928,2.0,0,0,3,9,1830,830,1988,0,98006,2800,10025,768000.0,156382
198,2014102,5,3.25,4240,9588,2.0,0,0,3,9,4240,0,2014,0,98053,4080,8425,1049990.0,151525
199,2014121,2,1.00,700,4836,1.0,0,0,4,6,700,0,1926,0,98125,1190,7050,380000.0,78263